<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Normateca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/Components/css/css.css">
</head>
<header>
    <a href="/index.html"><img class="logo" src="/Components/img/1.png"></a>
    <div class="wrapper">


        <nav>
            <ul class="nav nav-tabs">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Aspectos éticos y legales</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Components/files/Ley de datos.html">Ley general de protección de
                            datos</a>
                    </li>
                    <li><a class="dropdown-item" href="/Components/files/ley industrial.html">Ley de propiedad
                            industrial</a></li>
                    <li><a class="dropdown-item" href="/Components/files/ley autor.html">Ley federal de derechos de
                            autor</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">Código penal federal</a>
                    </li>

                </ul>
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Estándares</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Components/files/ley industrial.html"> ISO 17799</a></li>
                    <li><a class="dropdown-item" href="/Components/files/COBIT.html">COBIT</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">NIST</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">ITIL</a></li>

</header>

<body>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>
<h1>Objetivos de control para la información y tecnologías relacionadas (COBIT)</h1>
<p class="cp">COBIT define los componentes para crear y sostener un sistema de gobierno:
    procesos, estructuras organizativas, políticas y procedimientos, flujos de información,
    cultura y comportamientos, habilidades e
    infraestructura, elementos conocidos en el modelo como Catalizadores
    <br>
    Este marco de gestión fue lanzado inicialmente en 1996 por ISACA con la finalidadde establecer objetivos de control
    de TI que pudieran contribuir a las auditorías financieras y poder estimar el crecimiento del entorno de TI en las
    empresas.

    A partir de ahí, ISACA ha ido implementando mejoras y COBIT con el paso de los años ha tenido más de 5 versiones.
    Hoy por hoy se utiliza la última versión, COBIT 2019.

<h3>¿Para qué sirve?</h3>
<P>Como otros marcos de gestión de TI, COBIT ayuda a alinear los objetivos del negocio con los objetivos de TI, para
    poder crear vínculos entre ambos y definir procesos que ayuden al área de TI y a otros departamentos.
</P>
<a
    href="http://www.icorp.com.mx/blog/la-innovacion-en-la-gestion-de-procesos-para-entregar-servicios-de-ti-con-calidad/">Consulta
    Aqui</a>
</p>
<img class="datos" src="/Components/img/COBIT1.jpg">
<footer>
    <h2>Aviso de Privacidad </h2>

</footer>