<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Normateca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/Components/css/css.css">
</head>
<header>
    <a href="/index.html"><img class="logo" src="/Components/img/1.png"></a>
    <div class="wrapper">


        <nav>
            <ul class="nav nav-tabs">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Aspectos éticos y legales</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Components/files/Ley de datos.html">Ley general de protección de
                            datos</a>
                    </li>
                    <li><a class="dropdown-item" href="/Components/files/ley industrial.html">Ley de propiedad
                            industrial</a></li>
                    <li><a class="dropdown-item" href="/Components/files/ley autor.html">Ley federal de derechos de
                            autor</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">Código penal federal</a>
                    </li>

                </ul>
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Estándares</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Components/files/ley industrial.html"> ISO 17799</a></li>
                    <li><a class="dropdown-item" href="/Components/files/COBIT.html">COBIT</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">NIST</a></li>
                    <li><a class="dropdown-item" href="/Components/files/codigo penal.html">ITIL</a></li>
          
</header>

<body>
    <h1>ISO 27001</h1>
    <p class="cp">
        Sistemas de Gestión la Seguridad de la Información
        ISO 27001 es una norma internacional que permite el aseguramiento, la confidencialidad e integridad de los datos
        y de la información, así como de los sistemas que la procesan.

        El estándar ISO 27001:2013 para los Sistemas Gestión de la Seguridad de la Información permite a las
        organizaciones la evaluación del riesgo y la aplicación de los controles necesarios para mitigarlos o
        eliminarlos.

        La aplicación de ISO-27001 significa una diferenciación respecto al resto, que mejora la competitividad y la
        imagen de una organización.

        La Gestión de la Seguridad de la Información se complementa con las buenas prácticas o controles establecidos en
        la norma ISO 27002.

    <h3>¿Para qué sirve?</h3>
    <P>La norma ISO 27001:2013 también se basa en otras como ISO/IEC 17799:2005, la serie ISO 13335, ISO/IEC TR
        18044:2004 y las Directrices de la OCDE para sistemas y redes de seguridad de la información, que brindan
        orientación para implementar sistemas de seguridad de la información.

        Como resultado de este alineamiento con otros sistemas de gestión y la operación integrada con normas de gestión
        relacionadas, la implementación de norma ISO 27001 tiene como resultados:

        La armonización con normas de sistemas de gestión como ISO 9001 e ISO 14001.
        El énfasis en la mejora continua de procesos del sistema de gestión de seguridad de la información.
        La claridad en los requisitos de documentación y registros.
        Procesos de evaluación y gestión de los riesgos involucrados mediante el modelo del proceso Planificar, Hacer,
        Verificar, Actuar (PDCA, por sus siglas en inglés).
        La protección de los activos de la empresa, desde la información digital, los documentos y activos físicos
        (computadoras y redes) hasta los conocimientos de los empleados. </P>
    <a
        href="/Components/files/ISO-27001.pdf">Consulta Aqui</a>
    </p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>

<img class="datos" src="/Components/img/ISO27.jpg">
<footer>
    <h2>Aviso de Privacidad </h2>

</footer>