<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Normateca</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/Components/css/css.css">
</head>
<header>
  <a href="/index.html"><img class="logo" src="/Components/img/1.png"></a>
  <div class="wrapper">


    <nav>
      <ul class="nav nav-tabs">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Aspectos éticos y legales</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Components/files/Ley de datos.html">Ley general de protección de datos</a>
          </li>
          <li><a class="dropdown-item" href="/Components/files/ley industrial.html">Ley de propiedad industrial</a></li>
          <li><a class="dropdown-item" href="/Components/files/ley autor.html">Ley federal de derechos de autor</a></li>
          <li><a class="dropdown-item" href="/Components/files/codigo penal.html">Código penal federal</a></li>

        </ul>
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Estándares</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>

</header>

<body>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>
<h1>La Ley de Protección de Datos en México</h1>
<p class="datos">México cuenta con una ley que regula el tratamiento de los datos personales por parte de empresas del
  sector privado
  desde el 5 de julio de 2010, esa ley se llama Ley Federal de Protección de Datos Personales en Posesión de los
  Particulares o Ley de Protección de Datos.

  Su aplicación determina que se evite que los datos personales sean utilizados indebidamente,
  que se respeten los derechos de los dueños de los datos y que se garantice una expectativa razonable
  de privacidad. Quienes traten
  datos personales deben tomar en cuenta las guías y documentos emitidos por el Instituto Nacional
  de Transparencia, Acceso a la Información y Protección de Datos Personales ("INAI").
  <a href="/Components/files/LFPDPPP.pdf">Consulta Aqui</a>
</p>
<img class="datos" src="/Components/img/ley datos.jpg">
<footer>
  <h2>Aviso de Privacidad </h2>

</footer>