<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Normateca</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/Components/css/css.css">
</head>
<header>
  <a href="/index.html"><img class="logo" src="/Components/img/1.png"></a>
  <div class="wrapper">


    <nav>
      <ul class="nav nav-tabs">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Aspectos éticos y legales</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Components/files/Ley de datos.html">Ley general de protección de datos</a></li>
          <li><a class="dropdown-item" href="/Components/files/ley industrial.html">Ley de propiedad industrial</a></li>
          <li><a class="dropdown-item" href="/Components/files/ley autor.html">Ley federal de derechos de autor</a></li>
          <li><a class="dropdown-item" href="/Components/files/codigo penal.html">Código penal federal</a></li>

        </ul>
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Estándares</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>

</header>

<body>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>
<h1>La Ley de Protección de Datos en México</h1>
<p> Las disposiciones de esta Ley son de orden público y de observancia general en toda la 
    República, sin perjuicio de lo establecido en los Tratados Internacionales de los que México sea parte. Su 
    aplicación administrativa corresponde al Ejecutivo Federal por conducto del Instituto Mexicano de la 
    Propiedad Industrial.
</p>
<p>
    - Proteger la propiedad industrial mediante la regulación y otorgamiento de patentes de invención; 
registros de modelos de utilidad, diseños industriales, esquemas de trazado de circuitos integrados, 
marcas y avisos comerciales; publicación de nombres comerciales; declaración de protección de 
denominaciones de origen e indicaciones geográficas, y regulación de secretos industriales;
<a href="/Components/files/industrial.pdf">Consulta Aqui</a>

</p>
  
  <img class="datos" src="/Components/img/industrial.jpg" >
  <footer>
    <h2>Aviso de Privacidad </h2>
  
  </footer>