<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Normateca</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/Components/css/css.css">
</head>
<header>
  <a href="/index.html"><img class="logo" src="/Components/img/1.png"></a>
  <div class="wrapper">


    <nav>
      <ul class="nav nav-tabs">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Aspectos éticos y legales</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Components/files/Ley de datos.html">Ley general de protección de datos</a>
          </li>
          <li><a class="dropdown-item" href="/Components/files/ley industrial.html">Ley de propiedad industrial</a></li>
          <li><a class="dropdown-item" href="/Components/files/ley autor.html">Ley federal de derechos de autor</a></li>
          <li><a class="dropdown-item" href="/Components/files/codigo penal.html">Código penal federal</a></li>

        </ul>
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Estándares</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>

</header>

<body>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>
<h1>Ley federal de derechos de autor</h1>
<p> La presente Ley, reglamentaria del artículo 28 constitucional, tiene por objeto la
  salvaguarda y promoción del acervo cultural de la Nación; protección de los derechos
  de los autores, de los artistas intérpretes o ejecutantes, así como de los editores, de
  los productores y de los organismos de radiodifusión, en relación con sus obras literarias o
  artísticas en todas sus manifestaciones, sus interpretaciones o ejecuciones, sus ediciones, sus
  fonogramas o videogramas,
  sus emisiones, así como de los otros derechos de propiedad intelectual.</p>
<p>El derecho de autor es el reconocimiento que hace el
  Estado en favor de todo creador de obras literarias y artísticas previstas
  en el artículo 13 de esta Ley, en virtud del cual otorga su protección para que el autor goce
  de prerrogativas y privilegios exclusivos de carácter personal y patrimonial. Los primeros integran
  el llamado derecho moral y los segundos, el patrimonial.
  <a href="/Components/files/Ley autor.pdf">Consulta Aqui</a>

</p>
<img class="datos" src="/Components/img/autor1.jpg">
<footer>
  <h2>Aviso de Privacidad </h2>

</footer>